.list-wrapper {
  border: 2px solid $gray-4;
  border-radius: 10px;
  background-color: $white;
  width: fit-content;
  .list-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin: 23px 0;
    .list-item {
      font-family: $font-main;
      box-sizing: border-box;
      width: 220px;
      border: 1px solid $gray-4;
      border-radius: 10px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      .desc-section {
        padding: 19px 20px 18px;
        display: flex;
        flex-direction: column;
      }

      .book-img {
        width: 180px;
        height: 250px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border: 1px solid $gray-4;
        border-radius: 10px;
        margin-bottom: 11px;
      }
      .book-name {
        font-size: $font-16;
        font-weight: $fw-900;
        line-height: 23px;
        margin-bottom: 12px;
        width: 168px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .desc-section {
        @include item-space;
        align-items: initial;
      }
      .item-wrapper {
        display: flex;
        flex-direction: column;
        font-size: $font-13;
        line-height: 19px;

        .item-desc-section {
          @include item-space;
        }
        .item-desc {
          color: $black;
          margin-bottom: 5px;
        }
        .desc-type {
          color: $gray-3;
          margin-right: 5px;
        }
        .ico-star {
          width: 14px;
          vertical-align: -1px;
        }
      }
    }
  }
  .btn-group {
    background-color: $gray-6;
    border-radius: 0 0 9px 9px;
    border-top: 1px solid $gray-4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      cursor: pointer;
      font-size: $font-14;
      font-weight: $fw-500;
      line-height: 20px;
      text-align: center;
      border: none;
      background-color: transparent;
      padding: 9px 27px;
      &:first-of-type {
        border-right: 1px solid $gray-4;
      }
      .ico-play {
        width: 14px;
        vertical-align: -2px;
      }
    }
  }
}
