$white: #fff;
$black: #000000;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-6: #F2F2F2;

$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-24: 24px;

$font-main: "Noto Sans KR", 'Roboto', sans-serif;
$font-point: "Poppins", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-900: 900;

