body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  height: 100vh;
  margin: 0;
  border: 0;
  background-color: #fff;
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  margin: 90px auto;
  padding: 31px 28px 31px 29px;
}

.container .container-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0 37px;
}

.container .navigation {
  font-size: 16px;
  line-height: 19px;
}

.container .navigation ol {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px;
  margin: 0 auto;
  border-top: 1px solid #bdbdbd;
}

@media (max-width: 768px) {
  .container .navigation ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .navigation ol .nav-title a {
  color: #828282;
}

@media (max-width: 768px) {
  .container .navigation ol .nav-title a {
    display: block;
    padding-top: 10px;
  }
}

.container .navigation ol .nav-title.selected a {
  color: #000000;
  font-weight: 900;
}

.list-wrapper {
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-wrapper .list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
  margin: 23px 0;
}

.list-wrapper .list-box .list-item {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.list-wrapper .list-box .list-item .desc-section {
  padding: 19px 20px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-wrapper .list-box .list-item .book-img {
  width: 180px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin-bottom: 11px;
}

.list-wrapper .list-box .list-item .book-name {
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;
  margin-bottom: 12px;
  width: 168px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-wrapper .list-box .list-item .desc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.list-wrapper .list-box .list-item .item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  line-height: 19px;
}

.list-wrapper .list-box .list-item .item-wrapper .item-desc-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-wrapper .list-box .list-item .item-wrapper .item-desc {
  color: #000000;
  margin-bottom: 5px;
}

.list-wrapper .list-box .list-item .item-wrapper .desc-type {
  color: #828282;
  margin-right: 5px;
}

.list-wrapper .list-box .list-item .item-wrapper .ico-star {
  width: 14px;
  vertical-align: -1px;
}

.list-wrapper .btn-group {
  background-color: #f2f2f2;
  border-radius: 0 0 9px 9px;
  border-top: 1px solid #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-wrapper .btn-group button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 9px 27px;
}

.list-wrapper .btn-group button:first-of-type {
  border-right: 1px solid #bdbdbd;
}

.list-wrapper .btn-group button .ico-play {
  width: 14px;
  vertical-align: -2px;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  background-color: #f2f2f2;
}

.footer .to-page {
  padding: 42px 0;
  border-bottom: 1px solid #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
}

.footer .ico-sns {
  width: 24px;
  margin-left: 25px;
}

@media (max-width: 768px) {
  .footer .ico-sns {
    margin-left: 10px;
  }
}

.footer .footer-etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0 18px;
}

.footer p {
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;
}

.footer p strong {
  font-weight: 700;
}

.footer span {
  color: #4f4f4f;
  line-height: 20px;
  font-weight: 700;
  display: block;
  white-space: nowrap;
  margin-left: 40px;
}
