@import url(./reset.css);
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  margin: 0;
  border: 0;
}

.container {
  width: 1060px;
  background-color: #F2F2F2;
}
